/*
 *Name: D'Ante Grovner
 *UnityID: dtgrovne
 *Date: 9/24/23
 *Assignment: Independent Assignment 4 (HTML and Styling)
 *Description: HTML and Styling
 */

/* CSS for My Personal Webpage */

/* Paragraph Styling */
p {
    font-size: 16px;
    line-height: 1.5;
}

/* Separate instances of bold, underlined, and italic text */
p strong {
    font-weight: bold;
}

p em {
    font-style: italic;
}

p span {
    text-decoration: underline;
}

/* Inline Styling for Second Paragraph */
p:nth-of-type(2) {
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #336699;
    text-align: center;
}

/* Selector Components */

/* Background Color */
body {
    background-color: #f0f0f0;
}

/* Border around Table */
table {
    border: 2px solid #336699;
}

/* Image Styling */
img {
    border: 2px outset green;
    width: 200px;
    height: 250px;
}
